{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    {% if send == true %}
    
        <p>
            If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
            This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_password_forgot') }}">try again</a>.</p>

    {% else %}


        {% for flashError in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        <h1>Reset your password</h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Enter your email address and we we will send you a
                    link to reset your password.
                </small>
            </div>

            <button class="btn btn-primary">Send password reset email</button>
        {{ form_end(requestForm) }}

    {% endif %}


{% endblock %}
