{% extends "base.html.twig" %}

{% block title %}{% trans into locale %}PageTitle.BuildTitle{% endtrans %}{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}


<table class="table table-dark table-striped table-hover text-center">
   <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Weapon</th>
      <th scope="col">Type</th>
    </tr>
  <tbody>
  {% for build in builds %}
      <tr class="clickable" onclick="window.location.href='/build/{{build.id}}'">
        {# <a href="{{ path('app_builds_view', {'id': build.id}) }}"> #}
          <td>{{build.name}}</td>
          <td>//</td>
          <td>{{build.weapon|join(' / ')}}</td>
          <td>{{build.type}}</td>
        {# </a> #}
    </tr>
  {% endfor %}
    </tbody>
</table>

{% endblock %}