{% set locale = app.request.locale %}

{% if app.request.pathinfo == '/' or app.request.pathinfo starts with '/build'%}
  {% set current_menu = 'builds' %}
{% elseif app.request.pathinfo starts with '/create' %}
  {% set current_menu = 'create' %}
{% elseif app.request.pathinfo starts with '/patchnote' %}
  {% set current_menu = 'patchnote' %}
{% elseif app.request.pathinfo starts with '/login' %}
  {% set current_menu = 'login' %}
{% else %}
  {% set current_menu = '' %}
{% endif %}

<!DOCTYPE html>
<html lang="{{ locale }}">

  <head>
    <meta charset="UTF-8">
    <title>
      {% block title %}
        {% trans %}meta.sitetitle{% endtrans %}
      {% endblock %}
    </title>
    <meta name="keywords" locale="'{{ locale }}" content="build, create, newworld, new, world"/>
    <meta name="description" content=""/>
    <link rel="shortcut icon" href="{{asset('img/nwicone2.jpg')}}"/>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}{% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-lg">
        <a class="navbar-brand" href="{{path('app_builds_index')}}"><img src="{{asset('/img/nwicone.png')}}" alt="" width="100" height="100"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fs-4" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if current_menu == 'builds' %}active{% endif %}" href="{{path('app_builds_index')}}">{% trans %}navbar.build{% endtrans %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if current_menu == 'create' %}active{% endif %}" href="{{path('app_builds_create')}}">{% trans %}navbar.create{% endtrans %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if current_menu == 'patchnote' %}active{% endif %}" href="{{path('app_patchnote_index')}}">{% trans %}navbar.patchnote{% endtrans %}</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            {% if app.user %}
              <li class="nav-item dropdown fs-5 d-flex align-items-center">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ app.user.pseudo }}
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                    <a class="dropdown-item" href="{{path('app_profile_index')}}">{% trans %}navbar.profil{% endtrans %}</a>
                  </li>
                  {% if is_granted('ROLE_ADMIN') %}
                    <li>
                      <a class="dropdown-item" href="{{path('app_admin_index')}}">Admin Dashboard</a>
                    </li>
                  {% endif %}
                  <li>
                    <a class="dropdown-item" href="{{path('app_security_logout')}}">{% trans %}navbar.logout{% endtrans %}</a>
                  </li>
                </ul>
              </li>
            {% else  %}
              <li class="nav-item">
                <a class="nav-link fs-5 {% if current_menu == 'login' %}active{% endif %}" href="{{path('app_security_login')}}">{% trans %}navbar.login{% endtrans %}</a>
              </li>
            {% endif %}
            <li class="nav-item dropdown fs-5 d-flex align-items-center">
              <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if locale == 'en' %}English
                {% endif %}
                {% if locale == 'fr' %}Français
                {% endif %}
                {# {% if locale == 'de' %}Deutsche{% endif %}
                {% if locale == 'es' %}España{% endif %}
                {% if locale == 'it' %}Italiano{% endif %}
                {% if locale == 'pl' %}Polskie{% endif %}
                {% if locale == 'pt' %}Português{% endif %} #}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li>
                  <a class="dropdown-item" href="{{ path('app_setlocal_index', {'locale': 'en'}) }}">English</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{{ path('app_setlocal_index', {'locale': 'fr'}) }}">Français</a>
                </li>
                {# <li><a class="dropdown-item" href="{{ path('app_setlocal_index', {'locale': 'de'}) }}">Deutsche</a></li>
                <li><a class="dropdown-item" href="{{ path('app_setlocal_index', {'locale': 'es'}) }}">España</a></li>
                <li><a class="dropdown-item" href="{{ path('app_setlocal_index', {'locale': 'it'}) }}">Italiano</a></li>
                <li><a class="dropdown-item" href="{{ path('app_setlocal_index', {'locale': 'pl'}) }}">Polskie</a></li>
                <li><a class="dropdown-item" href="{{ path('app_setlocal_index', {'locale': 'pt'}) }}">Português</a></li> #}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="text-light container-lg mt-4 mb-4">

      <div>

        {% if app.flashes('verify_warning') %}
          <div class="alert alert-warning mx-2 my-1 mb-3" role="alert">
            {% trans %}login.verify.nocheck{% endtrans %}
          </div>
        {% endif %}

        {% if app.flashes('verify_succes') %}
          <div class="alert alert-success mx-2 my-1 mb-3" role="alert">
            {% trans %}login.verify.check{% endtrans %}
          </div>
        {% endif %}

        {% for flashError in app.flashes('verify_error') %}
          <div class="alert alert-danger mx-2 my-1 mb-3" role="alert">{{ flashError|trans }}</div>
        {% endfor %}

        {% if error.messageKey is defined %}

          {% if error.messageKey == 'login.incorrect' %}
            <div class="px-2">
              <div class="alert alert-danger m-0 my-1" mb-3="mb-3">{{ error.messageKey|trans }}</div>
            </div>
          {% endif %}

          {% if error.messageKey == 'login.verify.nocheck' %}
            <div class="alert alert-warning mx-2 my-1 mb-3" role="alert">
              {% trans %}login.verify.nocheck{% endtrans %}
            </div>
          {% endif %}

        {% endif %}

      </div>

      {% block body %}{% endblock %}
    </div>

    <div class="footer container-fluid bg-dark text-light">
      <div class="container-lg p-3">
        <div class="row">
          {# <div class="col">
															              <div class="fs-4">About</div>
															              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
															                  molestias.
															              </p>
															          </div>
															          <div class="col-3 text-end">
															              <div class="fs-4">Links</div>
															              <ul class="list-unstyled">
															                  <li><a href="">Discord</a></li>
															              </ul>
															          </div> #}
          <div class="text-center">
            ©
            {{ "now"|date("Y") }}
            <a href="https://www.newworld-builder.com/">NewWorld-Builder.com</a>
          </div>
        </div>
      </div>

  </body>
</html>
